
/* ######################################
   Use adobe.color.com to pick colors
   #######################################
   */

body {
  color: #414141;               /* Dark gray */
  background-color: #EEEEEE;
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}
h1  {
  font-size: 2em;
}
h2  {
  font-size: 3em;
}
ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-roman;
}
p {
  border: 1px solid #000e00;
  margin: 0px;
  padding: 20px;
}
